<h1>Dashboard#profile</h1>
<p>Find me in app/views/dashboard/profile.html.erb</p>



<div class="container">
  <div>
    <h1 class="text-center">Dashboard</h1>
  </div>

  <div>
    <h2> Mes prochaines bouteilles : </h2>
  </div>

  <div>
    <h2> Mes anciennes bouteilles : </h2>
  </div>

  <div>
    <h2> Mes coordonnées : </h2>
  </div>

</div>




