.wine-picture {
  width: 50px!important;
  height: 50px!important;
}

.dashboard-preferences {
  display: flex;
}



@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 20px;
  font-family: FontAwesome;
  display: inline-block;
  margin-top: -3px;
}


.starrating > label
{
  color: #e3e3e3; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #c91b31 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #c91b31 ;  } /* Set yellow color when star hover */



#nav-profile .card-wine-suggestions {
  height: 440px;
}

#nav-contact .card-wine-suggestions {
  height: 470px;
  background-color: grey;
  opacity: 0.7;
}


#rated {
  height: 10px;
  width: 10px;
}

.d-flex .starrating {
  margin-left: 15px;
}

.starrating .starrated > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 20px;
  font-family: FontAwesome;
  display: inline-block;
  margin-top: -3px;
}
