.block-offer-1 {
  text-align : center;
  margin: 25px;
}

.block-offer-1 img {
width : 275px;
height : 366px;
}


.block-offer-2 {
  margin: 25px;
}

.block-offer-2 h2 {
  color: black;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  padding: 0;
  margin-bottom: 15px;
}

.block-offer-2 .btn-flat-block {
  margin : 250px;
}
