<h1>Boxes#show</h1>
<p>Find me in app/views/boxes/show.html.erb</p>

<p>Récapitulatif de votre commande </p>
<% @wines.each do |wine| %>
  <%= wine.name %><br>
  <%= wine.regionclassification %><br><br><br>
<% end %>
