<br>
<h1><center>A propos de Bionysos</center></h1>
<br>
<div class="container col-11">

  <div class='row-cards'>
    <div class='column-cards'>
      <div>
        <h2>Pourquoi une box oenologie bio ?</h2>
        <p>Nous avons créé pour vous une box de vin bio qui respecte notre charte
        du goût et de la nature, pour que vous puissiez partir à la découverte et
        avoir un maximum de plaisir tout en dégustant les petites perles de nos
        producteurs. Le plaisir et le goût avant tout !</p>
      </div>
      <div class='image_bottom_about'>
        <%= image_tag "image_about1.jpg", class: 'image-about' %>
      </div>
    </div>
  </div>
<br>
  <div class='row-cards'>
    <div class='column-cards'>
      <div class='image_bottom_about'>
        <%= image_tag "image_about2.jpg", class: 'image-about' %>
      </div>
      <div>
        <h2>Des vins sélectionnés</h2>
        <p>Lors de notre tour de France viticole, on a recherché des vins pour leur caractère et leur goût incomparable.
        Venez découvrir les perles du travail acharné de nos vignerons pour découvrir l'essentiel de notre patrimoine viticole.
        Des vins français minutieusement sélectionnés.</p>
      </div>
    </div>
  <div>
<br>
  <div class='row-cards'>
    <div class='column-cards'>
      <div>
        <h2>Des ressources exclusives</h2>
        <p>Chaque abonnement box vin est accompagné de ressources exclusives: composées de cartes, d'explications simplifiées et de nos conseils.
        Le tout pour découvrir le vigneron, son travail et sa vision.
        On vous guide dans votre dégustation.</p>
      </div>
      <div class='image_bottom_about'>
        <%= image_tag "image_about3.jpg", class: 'image-about' %>
      </div>
    </div>
  </div>
<br>
  <div class='row-cards'>
    <div class='column-cards'>
      <div class='image_bottom_about'>
        <%= image_tag "image_about4.jpg", class: 'image-about' %>
      </div>
      <div>
        <h2>Une offre unique !</h2>
        <p>On vous aide progressivement à comprendre et à déceler les subtilités du vin, par notre approche simple, pédagogique et ludique.
        Avec bientôt notre chaine Youtube, vous allez devenir un amateur éclairé, et être rapidement capable de choisir vos vins,
        pour les accorder facilement avec vos plats préférés.</p>
      </div>
    </div>
  </div>

</div>
