<div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516594915697-87eb3b1c14ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>L'offre Bionysos</h1>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-sm">
      <div class="block-offer-1 ">
        <%= image_tag "offer/2-bottles.jpg" %>
      </div>
    </div>
    <div class="col-sm">
      <div class="block-offer-2">
        <h2>Notre formule d'abonnement</h2>
        <p>Goûtez chaque mois au plaisir de la découverte avec notre box de vins bio et naturels :</p>
        <p>Abonnement : 29,90€/mois</p>
        <p>Chaque mois un colis-cadeau de 2 bouteilles vous attend à votre porte ou à celle de la personne à qui vous offrez la box.</p>
        <p>Les vins sont bien emmitouflés dans un emballage spécialement adapté et transportés depuis le domaine du vigneron en véhicule électrique puis en vélo pour un respect total de l'environnement.</p>
      </div>
      <div class="container">
    <div class="text-center">
      <div class="btn btn-flat-block">
        <% if user_signed_in? %>
        <%= link_to "je m'abonne", new_box_path %>
        <% else %>
        <%= link_to "je m'abonne", new_user_registration_path %>
        <% end %>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>



