<div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516594915697-87eb3b1c14ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>L'offre Bionysos</h1>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-sm">
      <div class="block-offer-1 ">
        <%= image_tag "offer/2-bottles.jpg" %>
      </div>
    </div>
    <div class="col-sm">
      <div class="block-offer-2">
        <h2>Notre formule d'abonnement</h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sin quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="container">
    <div class="text-center">
      <div class="btn btn-flat-block">
        <%= link_to "je m'abonne", new_user_registration_path %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



