




// Bloc 1 Homepage

.card-product-infos {
  height: 225px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px;
  text-align: center;
}

.card-product-infos img {
  height: 90px;
  width: 90px;
  margin: 15px;
}

.card-product-infos p {
  font-size: 15px;
  margin: 10px;
  font-style: italic;
  color: gray;
}

.card-product-infos h3 {
  font-size: 20px;
  margin: 0;
}











// Bloc 2 Homepage

.card-trip {
  height: 275px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  text-decoration: none;
}

a {
  color :white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding :10px 10px 5px;
}

.card-trip p {
  font-size: 12px;
  font-style: italic;
  color: gray;
  padding: 5px 10px 5px;
  margin-bottom: 0;

}


.card-trip .card-trip-infos {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-vigneron {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

.card-trip-region {
  background-color: #C60D25;
  opacity: 0.8;
  border-radius: 2px;
  position: absolute;
  height: 30px;
  top: 0;
}


.card-trip-region.Bourgogne {
  background-color: gray !important;
}

.card-trip-region.Alsace {
  background-color: #FFD700 !important;
}

.card-trip-region.Bordeaux {
  background-color: #4CBB17 !important;
}

.card-trip-region.Loire {
  background-color: #46b3e6 !important;
}

.card-trip-region.Rhone {
  background-color: #de6b35 !important;
}


.card-trip-region p {
  color: white;
  font-size: 15px;
  font-style: normal;
}








// Card Vigneorn-Show //

.card-trip-vigneron-show {
  width: 100px;
  position: absolute;
  height: 100px;
  top: 300px;
}

.card-trip-region-show {
  background-color: #C60D25;
  right: 73%;
  opacity: 0.8;
  border-radius: 2px;
  position: absolute;
  height: 40px;
  top: 318px;
}

.card-trip-region-show p {
  color: white;
  font-size: 25px;
  font-style: normal;
  padding-right: 10px;
  padding-left: 10px;
}

.card-trip-region-show.Bourgogne {
  background-color: gray !important;
}

.card-trip-region-show.Alsace {
  background-color: #FFD700 !important;
}

.card-trip-region-show.Bordeaux {
  background-color: #4CBB17 !important;
}

.card-trip-region-show.Loire {
  background-color: #46b3e6 !important;
}

.card-trip-region-show.Rhone {
  background-color: #de6b35 !important;
}




// Card Vigneorn-wine-show //

.card-wine {
  height: 275px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  text-decoration: none;
}


.card-wine > img {
  height: 150px;
  object-fit: cover;
}

.card-wine h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding :10px 10px 5px;
}

.card-wine p {
  font-size: 12px;
  font-style: italic;
  color: gray;
  padding: 5px 10px 5px;
  margin-bottom: 0;

}


.card-wine-color {
  opacity: 0.8;
  border-radius: 2px;
  position: absolute;
  height: 30px;
  top: 0;
}


.card-wine-color.Rouge {
  background-color: #C60D25 !important;
}

.card-wine-color.Blanc {
  background-color: #ECE09D !important;
}

.card-wine-color.Rose {
  background-color: #E6A29A !important;
}


.card-wine-color p {
  color: white;
  font-size: 15px;
  font-style: normal;
}

.vigneron-show .card-trip-infos h3 {
  margin: 10px;
}







// Card index //

.card-trip-margin {
  margin-bottom : 30px;
}







// Card Engagement

.card-engagement {
  height: 200px;
  margin: 10px;
  text-align: center;
}

.card-engagement img {
  height: 75px;
  width: 75px;
  margin: 15px;
}

.card-engagement p {
  font-size: 13px;
  margin: 10px;
}

.card-engagement h3 {
  font-size: 20px;
  margin: 0;
}

.vigneron_domain {
  height: 150px;
  width: 100%;
}

.image-about {
  height : 300px;
  width: 500px;
}
