.wine-placeholder {
    height: 225px;
    background: lightgray;
    width: 300px;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
    background-image : url("dashboard/silhouette-bouteille.png")
}
