<h1>Vignerons#show</h1>
<p>Find me in app/views/vignerons/show.html.erb</p>
<p><%= @vigneron.first_name %></p>
<p><%= @vigneron.last_name %></p>​​
<p><%= @vigneron.region %></p>​​
<p><%= @vigneron.description %></p>​​

